@import url('https://fonts.googleapis.com/css?family=Overpass|Permanent+Marker');

body {
  font-family: 'Overpass', Sans-Serif;
  font-size: 17px;
}

h1 {
  font-family: 'Permanent Marker', Cursive;
  font-size: 55px;
}
